<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet'
	href='/bootstrap/dist/css/bootstrap-theme.min.css' />
<link rel="stylesheet"
	href="/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="/bootstrap-datepicker/css/datepicker3.css" />
<link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><%= title %></a>
			</div>
			<!--  
        <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-left">
           <li class="active"><a href="#" class="">Log Search</a></li>
           <li><a href="#">Reports</a></li>
         </ul>
        </div>
        -->
		</div>
	</div>

	<div class="container-fluid">

		<div class="row" id="searchForm">

			<div class="col-lg-12">

				<div class="row">

					<div class="col-lg-12" id="conditions">

						<form role="form" class="form-horizontal" action="/list/" method="POST">

							<div class="form-group">

								<div class="col-lg-3">
									<label>Date Time</label><br>
									<input type="datetime" class="form-control half-width" name="datetime{date}[gte]" placeholder="Begin On">
									~
									<input type="datetime" class="form-control half-width" name="datetime{date}[lte]" placeholder="End On">
								</div>

								<div class="col-lg-3">
									<label>Method</label>
									<select class="form-control" name="method{str}[eq]">
									  <option value="">...</option>
										<option value="GET">GET</option>
										<option value="POST">POST</option>
									</select>
								</div>

								<div class="col-lg-3">
									<label>URL</label>
									<input type="url" class="form-control" name="url{re}[eq]" placeholder="Request URL">
								</div>

								<div class="col-lg-3">
									<label>Status Code</label>
									<select class="form-control" name="statusCode{int}[gte,lte]">
										<option value="">...</option>
										<option value="200,299">2XX</option>
										<option value="300,399">3XX</option>
										<option value="400,499">4XX</option>
										<option value="500,599">5XX</option>
									</select>
								</div>

							</div>

							<div class="form-group">

								<div class="col-lg-3">
									<label>User</label>
									<input type="text" class="form-control" name="user{re}[eq]" placeholder="User Name">
								</div>

								<div class="col-lg-3">
									<label>Remote User</label>
									<input type="text" class="form-control" name="remoteUser{re}[eq]" placeholder="Remote User">
								</div>

								<div class="col-lg-3">
									<label>Elapsed Seconds</label><br>
									<input type="text" class="form-control half-width" name="elapsedSeconds{float}[gte]">
								  ~
								  <input type="text" class="form-control half-width" name="elapsedSeconds{float][lte]">
								</div>

								<div class="col-lg-3">
									<label>Elapsed Milliseconds</label><br>
									<input type="text" class="form-control half-width" name="elapsedMillis{int}[gte]">
									~
									<input type="text" class="form-control half-width" name="elapsedMillis{int}[lte]">
								</div>

							</div>


							<div class="form-group">

								<div class="col-lg-3">
									<label>Local IP</label>
									<input type="text" class="form-control" name="localIP[str]{eq}" placeholder="xxx.xxx.xxx.xxx">
								</div>

								<div class="col-lg-3">
									<label>Local Port</label>
									<input type="text" class="form-control" name="localPort{int}[eq]" placeholder="Enter Local Port">
								</div>

								<div class="col-lg-3">
									<label>Server Name</label>
									<input type="text" class="form-control" name="serverName{re}[eq]" placeholder="Enter Server Name">
								</div>

								<div class="col-lg-3">
									<label>Bytes Sent</label><br />
									<input type="text" class="form-control half-width" name="bytesSent{int}[gte]">
									~
									<input type="text" class="form-control half-width" name="bytesSent{int}[lte]">
								</div>

							</div>


							<div class="form-group">
								<div class="col-lg-3">
									<label>Remote IP</label>
									<input type="text" class="form-control" name="remoteIP{str}[eq]" placeholder="xxx.xxx.xxx.xxx">
								</div>

								<div class="col-lg-3">
									<label>Remote Host</label>
									<input type="text" class="form-control" name="remoteHost{str}[eq]" placeholder="Enter Remote Host">
								</div>

								<div class="col-lg-3">
									<label>Protocol</label>
									<input type="text" class="form-control"  name="protocol{str}[eq]" placeholder="Enter Protocol">
								</div>

								<div class="col-lg-3">
									<label>Thread</label>
									<input type="text" class="form-control" name="thread{re}[eq]" placeholder="Enter Thread Name">
								</div>

							</div>

							<div class="form-group">

								<div class="col-lg-3">
									<label>Query String</label>
									<input type="text" class="form-control" name="queryString{re}[eq]" placeholder="Enter Query String">
								</div>

								<div class="col-lg-3">
									<label>Session ID</label>
									<input type="text" class="form-control" name="sessionId{str}[eq]" placeholder="Enter SessionID">
								</div>

								<div class="col-lg-3">
									<label>Request Params</label>
									<select class="form-control" id="params.sub" data-role="tagsinput" multiple="multiple" placeholder="xxx=yyy"></select>
								</div>
								
                <div class="col-lg-3">
                  <label>Request Headers</label>
                  <select class="form-control" id="requestHeaders.sub" data-role="tagsinput" multiple="multiple" placeholder="xxx=yyy"></select>
                </div>
                
							</div>
              
              <div class="form-group">
              	<div class="col-lg-3">
                  <label>Response Headers</label>
                  <select class="form-control" id="responseHeaders.sub" data-role="tagsinput" multiple="multiple" placeholder="xxx=yyy"></select>
                </div>
                
              	<div class="col-lg-3">
                  <label>Cookies</label>
                  <select class="form-control" id="cookies.sub" data-role="tagsinput" multiple="multiple" placeholder="xxx=yyy"></select>
                </div>
                
              	<div class="col-lg-3">
                  <label>Request Attrs</label>
                  <select class="form-control" id="requestAttrs.sub" data-role="tagsinput" multiple="multiple" placeholder="xxx=yyy"></select>
                </div>
                
              	<div class="col-lg-3">
                  <label>Session Attrs</label>
                  <select class="form-control" id="sessionAttrs.sub" data-role="tagsinput" multiple="multiple" placeholder="xxx=yyy"></select>
                </div>
                
              </div>
						</form>

					</div>
					
				</div><!-- .row -->

				<div class="row" id="stickyBar">

					<div class="col-lg-offset-4 col-lg-4 text-center">
						<a id="btn-do-query" class="btn btn-primary">Search Log</a>
						<!-- <button id="btn-chart" class="btn btn-primary">Chart</button> -->
						<a id="btn-toggle-form" class="btn btn-default">Close</a>
					</div>

					<div id="pagination" class="col-lg-4 text-right">
						<ul class="pagination" style="margin: 0px"></ul>
					</div>

				</div>
				<!-- .row -->

		 </div>
		 <!-- .row -->

	 </div>
	 <!-- .row -->



		<div class="row">

			<div id="logList" class="col-lg-12">

				<div class="table-responsive">
					<table id="logs" class="table table-striped">
						<thead>
							<tr>
								<th width="15%">Date Time</th>
								<th width="10%">Method</th>
								<th width="15%">URL</th>
								<th width="10%">Status Code</th>
								<th width="10%">Remote IP</th>
								<th width="10%">User</th>
								<th width="11%">Elapsed Seconds</th>
								<th width="9%">Bytes Send</th>
								<th width="10%">Session Id</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<!-- search results area -->

			</div>

		</div>
		<!-- .row -->
	</div>


	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="" requestDetail"" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="requestDetail">Request Detail</h4>
				</div>
				<div class="modal-body">

					<div class="table-responsive">
						<table class="table table-bordered">

						</table>
						<!--  -->
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div><!-- detail info Modal -->

</body>

<script type='text/javascript' src='/jquery/dist/jquery.min.js'></script>
<script type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'></script>
<script type='text/javascript' src='/bootstrap-datepicker/js/bootstrap-datepicker.js'></script>
<script type='text/javascript' src='/underscore/underscore.js'></script>
<script type='text/javascript' src='/backbone/backbone.js'></script>
<script type='text/javascript' src='/smooth-scroll/dist/js/smooth-scroll.min.js'></script>

<script>
  var require = {
    baseUrl : '/',
    paths : {
      'domReady' : 'requirejs-domready/domReady',
      'text' : 'requirejs-text/text'
    }
  };
</script>
<script src='/requirejs/require.js'></script>

<script>
  require(['domReady', 'javascripts/index' ], function(domReady, App) {
    domReady(function(){
	    new App({
	      el : $('body')
	    });
    });
  });
</script>

</html>
