<tbody>
  <tr>
    <td width="15%"><strong>Date Time: </strong></td>
    <td>
        <%- d.datetime %>
    </td>
    <td><strong>Status Code: </strong></td>
    <td>
        <%- d.statusCode %>
    </td>
  </tr>
  <tr>
    <td><strong>URL: </strong></td>
    <td>
        <%- d.url %>
    </td>
    <td><strong>Method: </strong></td>
    <td>
        <%- d.method %>
    </td>
  </tr>
  <tr>
    <td width="15%"><strong>User: </strong></td>
    <td width="35%">
        <%- d.user %>
    </td>
    <td width='15%'><strong>Remote User: </strong></td>
    <td width="35%">
        <%- d.remoteUser %>
    </td>
  </tr>
  <tr>
    <td><strong>Elapsed Seconds: </strong></td>
    <td>
        <%- d.elapsedSeconds %>
    </td>
    <td><strong>Elapsed Milliseconds: </strong></td>
    <td>
        <%- d.elapsedMillis %>
    </td>
  </tr>
  <tr>
    <td><strong>Local IP: </strong></td>
    <td>
        <%- d.localIP %>
    </td>
    <td><strong>Local Port: </strong></td>
    <td>
        <%- d.localPort %>
    </td>
  </tr>
  <tr>
    <td><strong>Server Name: </strong></td>
    <td>
        <%- d.serverName %>
    </td>
  </tr>
  <tr>
    <td><strong>Remote IP: </strong></td>
    <td>
        <%- d.remoteIP %>
    </td>
    <td><strong>Remote Host: </strong></td>
    <td>
        <%- d.remoteHost %>
    </td>
  </tr>
  <tr>
    <td><strong>Protocol: </strong></td>
    <td>
        <%- d.protocol %>
    </td>
    <td><strong>Bytes Sent: </strong></td>
    <td>
        <%- d.bytesSent %>
    </td>
  </tr>
  <tr>
    <td><strong>Session ID: </strong></td>
    <td>
        <%- d.sessionId %>
    </td>
    <td><strong>Thread: </strong></td>
    <td>
        <%- d.thread %>
    </td>
  </tr>
  <tr>
    <td><strong>Query String: </strong></td>
    <td colspan="3">
        <%- d.queryString %>
    </td>
  </tr>
  <tr>
    <td><strong>First line of the request: </strong></td>
    <td colspan="3">
        <%- d.line1st %>
    </td>
  </tr>
  <% if(d.params) { %>
  <tr>
    <td><strong>Request Params: </strong></td>
    <td colspan="3">
        <% _.each(d.params, function(value, key) { %>
          <b><%- key.replace(/\$/g, '.') %></b>=<%- value %><br>
        <% }); %> 
    </td>
  </tr>
  <% } %>
  <% if(d.requestHeaders) { %>
  <tr>
    <td><strong>Request Headers: </strong></td>
    <td colspan="3">
        <% _.each(d.requestHeaders, function(value, key) { %>
          <b><%- key.replace(/\$/g, '.') %></b>=<%- value %><br>
        <% }); %> 
    </td>
  </tr>
  <% } %>
  <% if(d.responseHeaders) { %>
  <tr>
    <td><strong>Response Headers: </strong></td>
    <td colspan="3">
        <% _.each(d.responseHeaders, function(value, key) { %>
          <b><%- key.replace(/\$/g, '.') %></b>=<%- value %><br>
        <% }); %> 
    </td>
  </tr>
  <% } %>
  <% if(d.cookies) { %>
  <tr>
    <td><strong>Cookies: </strong></td>
    <td colspan="3">
        <% _.each(d.cookies, function(value, key) { %>
          <b><%- key.replace(/\$/g, '.') %></b>=<%- value %><br>
        <% }); %> 
    </td>
  </tr>
  <% } %>
  <% if(d.requestAttrs) { %>
  <tr>
    <td><strong>Request Attrs:: </strong></td>
    <td colspan="3">
        <% _.each(d.requestAttrs, function(value, key) { %>
          <b><%- key.replace(/\$/g, '.') %></b>=<%- value %><br>
        <% }); %> 
    </td>
  </tr>
  <% } %>
  <% if(d.sessionAttrs) { %>
  <tr>
    <td><strong>Session Attrs:: </strong></td>
    <td colspan="3">
        <% _.each(d.sessionAttrs, function(value, key) { %>
          <b><%- key.replace(/\$/g, '.') %></b>=<%- value %><br>
        <% }); %> 
    </td>
  </tr>
  <% } %>
  <% if(d.error) { %>
  <tr>
    <td><strong>Error: </strong></td>
    <td colspan="3"><pre><%- d.error %></pre></td>
  </tr>
  <% } %>
</tbody>